@import "tailwindcss";

/* Terminal styles */
.terminal-header { 
    color: rgba(132, 204, 22, 0.9); 
}
.terminal-body { 
    color: #86efac; 
}

.prompt { 
    display:inline-flex; align-items:center;
 }
.blink {
  display: inline-block;
  width: 10px;
  height: 1em;
  margin-left: 6px;
  background: currentColor;
  animation: blink 1s steps(2, start) infinite;
  vertical-align: bottom;
}

@keyframes blink { 50% { opacity: 0 } }

